.scorer {
    text-align: center;
    margin: 10px auto;
    width: 35%;
    padding: 10px;
    background-color: var(--blue);
    color: #fff;
    border: none;
    border-radius: 20px;
}
.app-bg.light .scorer { background: var(--light-p); }

.dbug {
    color: #fff;
}
.app-bg.light .dbug{ 
    color: #001;
    font-weight: 700;
    margin-bottom: 10px;
}