.scorer {
    text-align: center;
    margin: 10px auto;
    width: 35%;
    padding: 10px;
    background-color: var(--blue);
    color: #fff;
    border: none;
    border-radius: 20px;
}
.dbug {
    color: #fff;
}